// Place all the styles related to the Docs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0px;
  padding: 0px;
}

form {
  width: auto;
  height: 450px;
  margin: auto;
  position: relative;
}

input {
  padding-left: 0px 5%;
  width: 10%;
  height: 25px;
}

.title-input {
}

.content-input {
}

#input-box {
  padding: 15px;
  margin: 10px;
}
