/* Colour Pallette */
$background-color: #313436;
$font-color: #fff;

/* Navbar CSS */
$nav-bg-color: #262e32;
$nav-font-color: #fff;

/* Main Wrapper */
$main-wrapper-bg: #39464a;

/* Page Wrapper */
$page-wrapper-bg: #536668;

/* Post-container CSS */
$post-container-bg: #586b6a;
$post-container-font-color: #fff;

$post-content-bg: #567a79;

* {
}

h1 {
  text-align: center;
  color: #fff;
}

body {
  background-color: $background-color;
}

#main-wrapper {
  background-color: $main-wrapper-bg;
  box-shadow: 5px 5px 5px 2px #0d0d0c;
}

#page-wrapper {
  background-color: $page-wrapper-bg;
  margin: 5%;
  padding-bottom: 2%;
}

#page-nav-bar {
  display: grid;
  grid-template-columns: 25%, 25%;
  margin: 0 25%;
  padding: 0 25px;

  color: $font-color;

  ul {
    list-style-type: none;

    li {
      width: 50px;
      .page-nav-button-top {
        padding: 10px 25%;
      }

      .page-nav-button-bottom {
        font-size: 1rem;
        padding: 0 10%;
      }

      a {
        margin: 6px;
        color: $font-color;
        font-size: 1.25rem;
      }
    }

    li:hover {
      background-color: #e6e6a8;
    }
  }
}

#title {
  padding: 10px;
  margin: 10px 10px 10px 24%;
  color: $nav-font-color;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li a {
    float: left;
    padding: 0 5px;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }
  li a:hover {
    background-color: rgb(225, 0, 255);
    color: green;
  }
}

#post-container {
  padding: 10px;
  margin: 2% 12% 2% 25%;
  background: rgb(0, 69, 60);
  background: linear-gradient(180deg, rgba(0, 69, 60, 1) 0%, rgba(70, 114, 95, 1) 100%);
  color: $post-container-font-color;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  text-transform: capitalize;
  width: 50%;
  border: solid 1px;
  box-shadow: 5px 5px 5px 2px #0d0d0c;

  a {
    text-decoration: none;
    color: $post-container-font-color;
  }

  .post-title {
    display: grid;
    grid-template-columns: 15% 85%;
    padding-top: 0px;
    margin-right: 10%;

    .left-align {
      grid-row: 1 / span 1;
      text-align: left;
      padding-bottom: 10px;
    }

    h2 {
      padding: 0px;

      p.tiny-font {
        font-size: 0.75rem;
      }
      a {
        text-decoration: none;
        color: $post-container-font-color;
      }
    }

    .options {
      grid-row: 2 / span 1;
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }

  .post-content {
    p {
      padding: 5px;
      font-size: 1.5rem;
      text-align: justify;
    }

    background-color: #3a3b3b57;
    border-radius: 15px;
  }

  .post-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px;
    padding: 0px;

    p.tiny-font {
      font-size: 0.75rem;
    }

    .right-align {
      text-align: right;
      margin: 0 0 0 190;
      padding-bottom: 10px;
    }

    .left-align {
      text-align: left;
      margin: 0px;
      padding-bottom: 10px;
    }
  }
}

#page-footer {
  height: 5%;
  background-color: #000;
}
